<%= form_with model: player do |form| %>
<% if player.errors.any? %>
<h3><%= pluralize(player.errors.count, "error") %> found, please check!</h3>
<ul>
  <% player.errors.each do |error| %>
  <li><%= error.full_message %></li>
  <% end %>
  <% end %>
</ul>

<div>
  <%= form.label :Name, style: "display: block" %>
  <%= form.text_field :Name %>
</div>

<div>
  <%= form.label :Role, style: "display: block" %>
  <%= form.text_area :Role %>
</div>

<div>
  <%= form.submit %>
</div>
<% end %>